{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <h2> Enter a user id:</h2>
    <input id="product" type="text" action="/"></input>
    <button id="fetch_product_button" type="button ">Search</button>

    <div id="graph_container"/>
	<div id="table_container"/>
  </div>


<div class="row">        
       <div class="col-md-1">
                   <div id="graph_container">
               </div>
       </div>
        <div id="image-des" class = "col-md-1" style="height: 80px;">
			<!--<img id="theImg"  src="static/images/foo.jpg" />-->
       </div>
       
</div>


<div class="row">        
       <div class="col-md-8">
                   <div id="graph_container">
               </div>
       </div>
        <div id="prod-des" class = "col-md-4" style="height: 80px;">
       </div> 
</div>



<div class="row">        
       <div class="col-md-8">
                   <div id="graph_container">
               </div>
       </div>
        <div id="factor-des" class = "col-md-4" style="height: 80px;">
       </div>       
</div>



<div class="row">        
       <div class="col-md-8">
                   <div id="graph_container">
               </div>
       </div>
        <div id="loaninfo-des" class = "col-md-4" style="height: 60px;">
			<!--<img id="theImg"  src="static/images/foo.jpg" />-->
       </div>
       
</div>

{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}

{% block scripts %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{{ url_for('static', filename='js/product_search.js') }}"></script>
{% endblock %}

